.Navbar{
 
 
  width: 100%;
  height: 80px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: white;
  
 
 
}
.logo h1{ 

  color: black;
  font-weight: 300;
}
.logo span{

  color: aqua;
  font-weight: 600;
}
.contanier{

  position: sticky;
  top: 0;
  z-index: 40;
}
.list{

  display: inline;
  
 
}
.list2{

  /* color: white; */
  display: inline-flex;
  list-style-type: none;
 
  
  
}
.list2 a{

  color:black;
  text-decoration: none;
  margin-left: 60px;
  opacity: 0.70;
  text-decoration: none;

  
}
.list2 a:hover{

    width: 15px;
    height: 10px;
    color: red;


}
.logo{


  color: orange;
 
  margin-left: 30px;


}


